[id^="module"] {
    p.rubric {
        font-size: 1.65rem !important;
        margin-top: 2.75rem;
        margin-bottom: 1.65rem;
    }

    dl dd {
        margin-left: 0 !important;
    }

    dl dt.field-even, dl dt.field-odd {
        background: none !important;
        margin-bottom: 1.15rem !important;
    }

    dl.field-list > dd {
        margin-bottom: 1.15rem;
    }

    ol > li:last-child {
        margin-bottom: 1.15rem !important;
    }

    dl .classifier {
        margin-bottom: 1.15rem;
    }

    dl dt.field-odd li em, dl dd.field-odd li em {
        font-style: normal;
    }

    .sig {
        margin-top: 3rem;
        margin-bottom: 1.15rem;
        padding-bottom: 1px;
        border-bottom: 1px solid var(--bs-border-color, #dee2e6);

        .property .pre, .sig-prename, .sig-paren, .sig-param {
            color: var(--pst-color-text-muted, #48566b);
            font-weight: normal;
        }

        .sig-param .n .pre {
            font-weight: bold;
        }

        .sig-name {
            font-size: 1.2rem;
            margin-right: 0.5em;
        }

        .sig-paren {
            font-size: initial;
        }

        em {
            font-style: normal;
        }
    }

    .autosummary {
        .reference .xref {
            margin-right: 0.5rem;
        }
    }
}
