.home-page {
    margin-top: 2rem;
    margin-bottom: 4rem;

    h1 {
        font-size: 2rem;
        margin-bottom: 1.15rem !important;
    }

    h2, .rubric {
        font-size: 1.4rem !important;
    }

    h1, h1 + p {
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    h1 + p {
        margin-bottom: 3rem;

        a {
            white-space: nowrap;
        }
    }

    & > p {
        margin-bottom: 0.75rem;
    }

    .showcase-panel {
        margin-bottom: 1.75rem;
    }

    .card-list {
        margin-bottom: 2.75rem;

        .sd-mb-4, .sd-my-4 {
            margin-bottom: 0 !important;
        }
    }

    & > hr {
        border-color: var(--pst-color-primary);
    }

    #data-products, #about-dea {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
