.home-page {
    margin-top: 2rem;
    margin-bottom: 4rem;

    h1 {
        font-size: 1.75rem;
        margin-bottom: 1.15rem;
    }

    h1, & > p {
        text-align: center;
    }

    & > p {
        margin-bottom: 0.75rem;
    }

    & > p:last-of-type, .showcase-panel, .card-list {
        margin-bottom: 1.75rem;
    }

    #data-products, #about-dea {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
