.bd-article {
    h1 img {
        display: block;
        margin-top: 1rem;
    }

    .nbinput .prompt pre {
        color: #0000FF !important;
    }

    .nboutput .prompt pre {
        color: #008000 !important;
    }

    .xr-var-list .xr-preview {
        color: #616161;
    }
}
