.panel-list-page {
    .showcase-panel {
        & > div:first-child {
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
        }

        .rubric {
            font-size: 1.25rem;
        }
    }
}
