.product-page {
    h1 {
        display: none;
    }

    .showcase-panel .rubric {
        font-size: 1.65rem;
        margin-bottom: 0;
    }

    & > .sd-tab-set > .sd-tab-content {
        box-shadow: 0 -0.0625rem var(--sd-color-tabs-overline);
    }

    #additional-files-table {
        margin-bottom: 2.75rem;
    }

    #access-the-data + p {
        padding-bottom: 1.15rem;
    }

    #access-table {
        margin-bottom: 2rem;
    }
}
