.validation-report {
    &-table {
        tr td:first-child {
          font-weight: bold;
        }

        & + ul {
            display: flex;
            justify-content: end;
            list-style: none;
            padding: 0;

            li {
                margin-right: 1rem;
            }
        }
    }
}
