.validation-report {
    &-variables-table {
        tr td:first-child {
          font-weight: bold;
        }
    }

    &-results-table {
        tbody tr:first-child {
          font-weight: bold;
        }
    }

    &-variables-table, &-results-table {
        & + ul {
            display: flex;
            justify-content: end;
            list-style: none;
            padding: 0;

            li {
                margin-right: 1rem;
            }

            a.download {
                &:before {
                    content: none;
                }

                code {
                    background-color: initial;
                    border: none;
                    padding: 0;
                    font-size: 1em;
                    color: var(--pst-color-link);
                    font-weight: normal;
                    font-family: var(--pst-font-family-base-system);
                }
            }
        }
    }
}

