.validation-report {
    &-summary-table {
        tr td:first-child {
          font-weight: bold;
        }
    }

    &-statistics-table {
        margin-bottom: 3rem;

        tbody tr:first-child {
          font-weight: bold;
        }
    }
}
