root = true

[{ *.rst, *.md, *.yml, *.yaml }]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.rst]
indent_size = 3

[*.md]
indent_size = 4

[{*.yml, *.yaml}]
indent_size = 2

