sphinx
nbsphinx
IPython
myst-parser
ipywidgets
matplotlib
pydata-sphinx-theme
sphinx_design
sphinxext-rediraffe
sphinxcontrib.datatemplates
sphinx-external-toc
sphinx-sitemap
sphinxext-opengraph
sphinx-notfound-page
