sphinx
nbsphinx
ipython==8.18.1
myst-parser
ipywidgets
matplotlib
pydata-sphinx-theme==0.14.4
sphinx_design
sphinxext-rediraffe
sphinxcontrib.datatemplates==0.10.2
sphinx-external-toc
sphinx-sitemap
sphinxext-opengraph
sphinx-notfound-page
sphinx-copybutton
