.admonition, div.admonition {
    border-radius: 0 !important;
    box-shadow: none !important;
    padding-top: 9px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;

    a {
        color: $text-color;
        font-weight: bold;

        &:hover {
            color: $text-color;
        }
    }

    .admonition-title + p {
        margin-top: 0;
    }

    &.note {
        background-color: var(--pst-color-info-bg);
    }

    &.important {
        background-color: var(--pst-color-attention-bg);
    }

    &.hint {
        background-color: var(--pst-color-success-bg);
    }

    &.hint {
        background-color: var(--pst-color-success-bg);
    }

    &.seealso {
        background-color: var(--pst-color-success-bg);
    }

    &.tip {
        background-color: var(--pst-color-success-bg);
    }

    &.attention {
        background-color: var(--pst-color-attention-bg);
    }

    &.caution {
        background-color: var(--pst-color-warning-bg);
    }

    &.warning {
        background-color: var(--pst-color-warning-bg);
    }

    &.danger {
        background-color: var(--pst-color-danger-bg);
    }

    &.error {
        background-color: var(--pst-color-danger-bg);
    }
}
