article.bd-article {
    padding-left: 0 !important;

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    h1, h2 {
        margin-bottom: 1.65rem;
    }

    h1 {
        font-size: 2.15rem !important;

        img {
            display: block;
            margin-top: 1rem;
        }
    }

    h2 {
        font-size: 1.65rem !important;
    }

    h3 {
        font-size: 1.2rem !important;
    }

    h4 {
        font-size: 1rem !important;
    }

    h5 {
        font-size: 90% !important;
    }

    h6 {
        font-size: 80% !important;
    }

    .rubric {
        border-bottom: none !important;
        margin-top: 0 !important;
    }

    dl.field-list > dt {
        padding-left: 0;
    }

    .sd-tab-content {
        padding-top: 24px;
    }

    .sd-tab-set > label:hover {
        border-top: none;
    }

    .sd-card {
        border: none;
        box-shadow: none;
        background-color: white;

        &:hover {
            transform: none;
        }

        &.sd-shadow-xs,
        &.sd-shadow-sm,
        &.sd-shadow-md,
        &.sd-shadow-lg {
            box-shadow: none !important;
        }
    }

    .sd-card-title {
        color: var(--pst-color-primary);
    }

    table tr:hover {
        background-color: var(--sd-color-card-hover);
    }

    a.sd-bg-bdg-button-link-primary-outline {
        border-color: var(--sd-color-primary) !important;
        color: var(--sd-color-primary) !important;
        border-style: solid !important;
        border-width: 1px !important;
    }

    a.sd-bg-bdg-button-link-primary-outline:hover {
        background-color: var(--sd-color-primary) !important;
        color: var(--sd-color-primary-text) !important;
        border-color: var(--sd-color-primary) !important;
        border-width: 1px !important;
    }

    .nbinput .prompt pre {
        color: #0000FF !important;
    }

    .nboutput .prompt pre {
        color: #008000 !important;
    }

    .xr-var-list .xr-preview {
        color: #616161;
    }
}
