#citation-table {
    .citation-table-citation {
        margin: 0 !important;

        .highlight {
            background-color: transparent;
        }

        pre {
            background-color: transparent;
            border: none;
            font-family: $content-font-family;
            padding-top: 0;
            padding-left: 0;
            padding-bottom: 0.2rem;
            padding-right: 2rem;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
            padding-top: 4px;
            padding-bottom: 4px;
        }
    }

    tr td:first-of-type {
        min-width: 140px;
    }
}

