table.colour-coded-table {
    &, th, td {
        border-collapse: collapse;
        border: 1px solid var(--pst-color-border, #d1d5da);
    }

    tr:hover {
        background-color: transparent !important;
    }

    th, td {
        padding: 4px 8px;

        a, a:hover {
            color: var(--pst-color-text-base, #082e41) !important;
        }
    }

    &.traffic-light-theme {
        th, td {
            &.high {
                background-color: $red-background-color;
            }

            &.medium {
                background-color: $yellow-background-color;
            }

            &.low {
                background-color: $green-background-color;
            }

            &.blank {
                background-color: $blue-background-color;
            }
        }
    }

    &.dea-water-observations-bitflags {
        th, td {
            &.classification-decimal {
                background-color: $blue-background-color;
            }

            &.impossible{
                background-color: $grey-background-color;
                text-decoration: line-through;
            }

            &.special{
                background-color: $yellow-background-color;
            }
        }

        & > thead > tr > th:first-of-type {
            min-width: 150px;
        }
    }
}

