table.colour-coded-table {
    &, th, td {
        border-collapse: collapse;
        border: 1px solid var(--pst-color-border, #d1d5da);
    }

    tr:hover {
        background-color: transparent !important;
    }

    th, td {
        padding: 4px 8px;

        a, a:hover {
            color: var(--pst-color-text-base, #082e41) !important;
        }
    }

    &.traffic-light-theme {
        th, td {
            &.high {
                background-color: $red-background-color;
            }

            &.medium {
                background-color: $yellow-background-color;
            }

            &.low {
                background-color: $green-background-color;
            }

            &.blank {
                background-color: $blue-background-color;
            }
        }
    }

    &.water-observations-classifications-theme {
        .colour {
            display: inline-block;
            height: 0.9em;
            width: 2em;

            & + .dry {
                background-color: #96966e;
            }

            & + .water {
                background-color: #4F81BD;
            }

            & + .high-slope {
                background-color: #776857;
            }

            & + .terrain-shadow {
                background-color: #2f2922;
            }

            & + .cloud-shadow {
                background-color: #4b4b37;
            }

            & + .cloud {
                background-color: #c2c1c0;
            }

            & + .no-data {
                background-color: #707070;
            }

            & + .non-contiguous {
                background-color: #707070;
            }

            & + .low-solar-angle {
                background-color: #707070;
            }

            & + .cloudy-water {
                background-color: #bad4f2;
            }

            & + .shaded-water {
                background-color: #335277;
            }

            & + .cloudy-steep-terrain {
                background-color: #f2dcb4;
            }
        }
    }

    &.water-observations-combination-decimals-theme {
        th, td {
            &.classification {
                background-color: $blue-background-color;
            }

            &.impossible{
                background-color: $grey-background-color;
                color: var(--pst-color-text-muted, #48566b)
            }
        }

        & th:first-of-type {
            min-width: 200px;
        }
    }
}

