table.colour-coded-table {
    &, th, td {
        border-collapse: collapse;
        border: 1px solid var(--pst-color-border, #d1d5da);
    }

    tr:hover {
        background-color: transparent !important;
    }

    th, td {
        padding: 4px 8px;

        a, a:hover {
            color: var(--pst-color-text-base, #082e41) !important;
        }
    }

    &.traffic-light-theme {
        th, td {
            &.high {
                background-color: #d2ffdb;
            }

            &.medium {
                background-color: #ffffc8;
            }

            &.low {
                background-color: #ffe3e6;
            }

            &.blank {
                background-color: #e1f1fd;
            }
        }
    }
}

