#demo-banner {
    background-color: #FF1493;
    padding: 0.5rem;
    border-radius: 3px;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    
    p {
        text-align: center;
    }

    .fa, .svg-inline--fa {
        margin-right: 0.5rem;
    }
}
