footer.bd-footer {
    padding-top: 24px;
    background: linear-gradient(
        1turn,
        $highlight-color,
        $text-color
    );

    p, a, .footer-copyright {
        color: white;
    }

    a {
        font-weight: bold;
        text-decoration: underline;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    .footer-heading {
        font-size: 1.375rem;
        font-weight: bold;
        margin-bottom: 1.05rem;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 1rem;
    }

    .policy-links li {
        display: inline;
        margin-right: 2rem;

        @media only screen and (max-width: $breakpoint-xl) {
            line-height: 2rem;
        }
    }

    .footer-items__start,
    .footer-items__end {
        width: 50%;
        justify-content: start;
    }

    .footer-items__end {
        text-align: left;
    }

    .footer-copyright {
        margin-top: 1rem;
    }

    @media only screen and (max-width: $breakpoint-md) {
        #acknowledgement-of-country {
            margin-top: 1rem;
        }
    }
}
