footer.bd-footer {
    padding-top: 24px;
    background: linear-gradient(
        1turn,
        $highlight-color,
        $text-color
    );

    p, li, a {
        color: white;
    }

    a {
        font-weight: bold;
        text-decoration: underline;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 1rem;
    }

    .footer-items__start,
    .footer-items__end {
        width: 50%;
        justify-content: start;
    }

    .footer-items__end {
        text-align: left;
    }

    .footer {
        &--heading {
            font-size: 1.375rem;
            font-weight: bold;
            margin-bottom: 1.05rem;
        }

        &--related-websites {}

        &--support{}

        &--acknowledgement-of-country {
            & > div {
                @media only screen and (max-width: $breakpoint-md) {
                    margin-top: 1rem;
                }
            }

        }

        &--policy-links {
            li {
                display: inline;
                margin-right: 2rem;

                @media only screen and (max-width: $breakpoint-xl) {
                    line-height: 2rem;
                }
            }
        }

        &--badges {
            & > div {
                margin-top: 1rem;
            }
        }

        &--copyright {
            & > p {
                margin-top: 1rem;
                margin-bottom: 0;
            }
        }
    }
}
