a {

    &[data-link-type="query"], &[data-link-type="anchor"], .dashed {
        text-decoration-style: dashed;

        &:hover {
            text-decoration-style: solid;
        }
    }

    &[data-link-type="internal"] {}

    &[data-link-type="external"] {}

    &.download {
        &:before {
            content: none !important;
        }

        code {
            background-color: initial;
            border: none;
            padding: 0;
            font-size: 1em;
            color: var(--pst-color-link);
            font-weight: normal;
            font-family: var(--pst-font-family-base-system);
        }
    }
}

