.sidebar-header-items {
    .sidebar-header-items__title {
        margin-bottom: 1.15rem;
    }

    .navbar-item:nth-of-type(1) { // Site logo
        display: none;
    }

    ul.bd-navbar-elements {
        margin-bottom: 1.15rem;

        li {
            margin-bottom: 3px;

            a {
                font-weight: bold;
                font-size: 1rem;
            }
        }
    }

    .bd-search {}
}
