nav.bd-docs-nav {
    .bd-links__title {
        display: none;
    }

    .active > a {
        box-shadow: none;
        font-weight: normal;
    }

    a.current.reference {
        font-weight: bold;
    }
}

@media (min-width: 960px) {
    .bd-sidebar-primary {
        margin-right: 2rem;
    }
}
