nav.navbar, .sidebar-header-items {
    .search-button__kbd-shortcut {
        display: none;
    }
}

nav.navbar {
    .navbar-nav > .current > .nav-link {
        border-bottom: none !important;
    }

    .bd-header__inner {
        max-width: 100%;
    }

    .navbar-brand img {
        width: 323px;
        height: 40px;
    }

    input[type="search"].form-control {
        border: none;
    }
}

.sidebar-header-items {
    .bd-search {
        margin-top: 20px;
    }
}
