nav.navbar {
    .search-button__kbd-shortcut {
        display: none;
    }

    .navbar-nav > .current > .nav-link {
        border-bottom: none !important;
    }

    .bd-header__inner {
        max-width: 100%;
    }

    .navbar-brand img {
        width: 323px;
        height: 40px;
    }

    input[type="search"].form-control {
        border: none;
    }

    .navbar-header-items {
        padding-right: 8px;
    }

    .navbar-header-items__start {
        @media only screen and (min-width: $breakpoint-lg) {
            display: none;
        }

        .navbar-brand {
            margin-left: 0.5rem;
        }
    }

    .navbar-header-items__center {
        justify-content: space-between;
        width: 100%;

        .navbar-item {
            min-width: 323px;

            form.bd-search {
                margin-left: auto;
            }
        }
    }
}
