nav.bd-docs-nav {
    padding-right: 2px;

    .bd-links__title {
        display: none;
    }

    .active > a {
        box-shadow: none;
        font-weight: normal;
    }

    a.current.reference {
        font-weight: bold;
    }

    .toctree-checkbox:checked + label {
        transform: rotate(180deg);
    }
}

@media (min-width: 960px) {
    .bd-sidebar-primary {
        margin-right: 4rem;
    }
}
