nav.contents {
    background-color: initial !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;

    .topic-title {
        font-size: 1rem !important;
    }

    ul ul {
        list-style: none !important;
        padding-left: 1rem !important;
    }
}

.product-tab-table-of-contents {}
