.product-tab-table-of-contents {
    @media only screen and (max-width: $breakpoint-md) {
        line-height: 2rem;
    }

    a {
        text-decoration-style: dashed;
        color: var(--pst-color-text-base);
        margin-right: 1rem;

        &:hover {
            text-decoration-style: solid;
            color: var(--pst-color-link);
        }
    }
}

