.showcase-panel {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.15rem;

    a {
        font-weight: bold;
    }

    & > div:nth-child(1) {
        flex: 1;
        padding: 2rem;

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    & > div:nth-child(2) {
        width: 300px;
        overflow: hidden;
        position: relative;

        & > img {
            position: absolute;
            height: 100%;
            min-width: 61.8%; // The golden ratio: 100 / 1.618 = 0.618
            width: auto;
            object-fit: cover;
            user-select: none;
            right: 0;
        }

        @media only screen and (max-width: $breakpoint-md) {
            display: none;
        }
    }

    & .rubric {
        font-size: 1.65rem;
        font-weight: bold;
        margin: 0;
        line-height: 1.4;
        margin-bottom: 1.15rem;
    }

    &.reverse {
        flex-direction: row-reverse;
    }

    &[class*="bg-gradient-"] {
        p, dl, a, a:hover, .rubric {
            color: white;
        }
    }

    &.product-header {
        .rubric {
            margin-bottom: 0.25rem;
        }
    }

    &.bg-gradient-primary {
        background: linear-gradient(1turn, $highlight-color, $text-color);
    }

    &.bg-gradient-stone {
        background: linear-gradient(1turn, #606f74, #082e41);
    }

    &.bg-gradient-space {
        background: linear-gradient(1turn, #783775, #082e41);
    }

    &.bg-gradient-heat {
        background: linear-gradient(1turn, #b43b3b, #082e41);
    }

    &.bg-gradient-dust {
        background: linear-gradient(1turn, #cb6c37, #082e41);
    }

    &.bg-gradient-earth {
        background: linear-gradient(1turn, #637c6b, #082e41);
    }

    &.bg-gradient-forest {
        background: linear-gradient(1turn, #0b5e4a, #082e41);
    }
}
