.system-status-notifications {
    .high-severity {
        background-color: $red-background-color;
    }

    .medium-severity {
        background-color: $yellow-background-color;
    }

    .low-severity {
        background-color: $blue-background-color;
    }
}
