{% extends '!layout.html' %}

{% block extrahead %}
<script type="text/javascript" src="/_permanent_files/scripts/external-links-behaviour.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_ga4_tag }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ google_analytics_ga4_tag }}');
</script>
{% endblock %}
