::selection {
    background: var(--pst-color-secondary);
    color: white;
}

.skip-link {
    background-color: white;
    color: var(--pst-color-primary);
}

.bd-search .search-button__kbd-shortcut {
    display: none;
}

.bd-header {
    .navbar-nav > .current > .nav-link {
        border-bottom: none !important;
    }

    .bd-header__inner {
        max-width: 100%;
    }

    .navbar-brand img {
        width: 323px;
        height: 40px;
    }
}


h1, h2, h3, h4, h5, h6 {
    color: var(--pst-color-primary);
    font-weight: bold;
}

h3, h4, h5, h6 {
    color: var(--pst-color-secondary);
}

h4, h5, h6 {
    font-weight: bold;
}

.rubric {
    border-bottom: none !important;
    margin-top: 0 !important;
}

.bd-sidebar .bd-links__title {
    display: none;
}

nav.bd-links {
    .active > a {
        box-shadow: none;
        font-weight: normal;
    }

    a.current.reference {
        font-weight: bold;
    }
}

input[type="search"].form-control {
    border: none;
}

.bd-content {
    #searchbox {
        display: none;
    }

    dl.field-list > dt {
        padding-left: 0;
    }

    .sd-tab-content {
        padding-top: 24px;
    }

    .sd-tab-set > label:hover {
        border-top: none;
    }

    .sd-card {
        border: none;
        box-shadow: none;
        background-color: white;

        &:hover {
            transform: none;
        }

        &.sd-shadow-xs,
        &.sd-shadow-sm,
        &.sd-shadow-md,
        &.sd-shadow-lg {
            box-shadow: none !important;
        }
    }

    .sd-card-title {
        color: var(--pst-color-primary);
    }

    table tr:hover {
        background-color: var(--sd-color-card-hover);
    }

    a.sd-bg-bdg-button-link-primary-outline {
        border-color: var(--sd-color-primary) !important;
        color: var(--sd-color-primary) !important;
        border-style: solid !important;
        border-width: 1px !important;
    }

    a.sd-bg-bdg-button-link-primary-outline:hover {
        background-color: var(--sd-color-primary) !important;
        color: var(--sd-color-primary-text) !important;
        border-color: var(--sd-color-primary) !important;
        border-width: 1px !important;
    }
}
