html {
    --pst-font-family-heading: "Nimbus Sans Novus", sans-serif;
    --pst-font-family-base-system: "Source Sans Pro", Arial, sans-serif;

    --pst-font-size-h1: 2.25rem !important;
    --pst-font-size-h2: 1.8rem !important;
    --pst-font-size-h3: 1.5rem !important;
    --pst-font-size-h4: 1.3125rem !important;
    --pst-font-size-h5: 1.125rem !important;
    --pst-font-size-h6: 1rem !important;

    --pst-color-primary: #082e41 !important;
    --pst-color-secondary: #00718b !important;
    --pst-color-primary-highlight: #00708b !important;
    --pst-color-secondary-highlight: #e6edef !important;
    --pst-color-text-base: #082e41 !important;
    --bs-link-color: #00718b !important;
    --bs-link-hover-color: #00718b !important;
    --pst-color-link: #00718b !important;
    --pst-color-link-hover: #00718b !important;
    --pst-color-accent: #773775 !important;
    --sd-color-card-hover: #e6e6e6 !important;
    --sd-color-card-border-hover: var(--pst-color-border) !important;
    --sd-color-primary-bg: #e6edef !important;
    --pst-color-inline-code: #082e41 !important;

    --sd-gutter-x: 1rem;
    --sd-gutter-y: 1rem;
}
