$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$text-color: #082e41;
$highlight-color: #00718b;
$bg-color-grey: #e6edef;
$hover-bg-color-white: #f2f2f2;
$hover-bg-color-grey: #d6e2e5;

$heading-font-family: "'Nimbus Sans Novus', sans-serif";
$content-font-family: "'Source Sans Pro', Arial, sans-serif";
