/* Home */

.home h1 {
    display: none;
}

.home .rubric {
    border-bottom: none;
}

.home .rubric.rubric-1 {
    color: var(--pst-color-primary);
    font-size: var(--pst-font-size-h4);
    font-color: var(--pst-color-text-base);
}

.home .rubric.rubric-2 {
    color: var(--pst-color-primary);
    font-size: var(--pst-font-size-h6);
    font-color: var(--pst-color-text-base);
}

.home .sd-card a {
    font-weight: bold;
    text-decoration: none;
}

.home .sd-card a:hover {
    text-decoration: underline;
}

/* Data Product */

.data-product h1 {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0;
}

.data-product h1,
.data-product .header a,
.data-product .header .quick-info,
.data-product .header .quick-info dd p,
.data-product .header .subtitle p {
    color: white;
}

.data-product h1,
.data-product .header > * {
    width: calc(100% - 271px);
}

@media only screen and (max-width: 768px) {
    .data-product h1,
    .data-product .header > * {
        width: 100%;
    }
}

.data-product .header > * {
    z-index: 0;
}

.data-product .header {
    position: relative;
    top: calc(-1 * var(--pst-font-size-h1) * 2);
    margin-bottom: calc(-1 * var(--pst-font-size-h1) * 2);
    background: linear-gradient(1turn, var(--pst-color-secondary), var(--pst-color-primary));
    padding: 2rem;
    z-index: -1;
}

.data-product .header .subtitle {
    font-size: var(--pst-font-size-h4);
    margin-top: var(--pst-font-size-h1);
}

.data-product .header .hero-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 271px;
    background-image: url("https://www.dea.ga.gov.au/_nuxt/image/3d7bbc.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
    .data-product .header .hero-image {
        display: none;
    }
}

.data-product .header dt {
    padding-left: 0;
}

.data-product .header dl {
    margin-bottom: 0;
}

.data-product .table-of-contents > p,
.data-product .table-of-contents > div,
.data-product .table-of-contents ol,
.data-product .table-of-contents li {
    display: inline;
}

.data-product .table-of-contents ol {
    padding-left: 0;
}

.data-product .table-of-contents > p,
.data-product .table-of-contents li {
    margin-right: 1rem;
}
