/* Home */

.home-page h1 {
    display: none;
}

.home-page .rubric {
    border-bottom: none;
}

.home-page .rubric.rubric-1 {
    color: var(--pst-color-primary);
    font-size: var(--pst-font-size-h4);
    color: var(--pst-color-text-base);
}

.home-page .rubric.rubric-2 {
    color: var(--pst-color-primary);
    font-size: var(--pst-font-size-h6);
    color: var(--pst-color-text-base);
}

.home-page .sd-card .sd-card-header {
    font-weight: bold;
}

.home-page .sd-card a {
    font-weight: bold;
    text-decoration: none;
}

.home-page .sd-card a:hover {
    text-decoration: underline;
}

/* Data Product */

.data-product-page h1 {
    display: none;
}

.data-product-page .title {
    font-size: var(--pst-font-size-h1);
    font-weight: bold;
}

.data-product-page .title p,
.data-product-page .header a,
.data-product-page .header .quick-info,
.data-product-page .header .quick-info dd p,
.data-product-page .header .subtitle p {
    color: white;
}

.data-product-page .title p {
    margin-bottom: 0;
}

.data-product-page .title,
.data-product-page .header > * {
    width: calc(100% - 271px);
}

@media only screen and (max-width: 768px) {
    .data-product-page .title,
    .data-product-page .header > * {
        width: 100%;
    }
}

.data-product-page .header {
    position: relative;
    background: linear-gradient(
        1turn,
        var(--pst-color-secondary),
        var(--pst-color-primary)
    );
    padding: 2rem;
}

.data-product-page .header .hero-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 271px;
    background-image: url("https://www.dea.ga.gov.au/_nuxt/image/3d7bbc.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
    .data-product-page .header .hero-image {
        display: none;
    }
}

.data-product-page .header dl {
    margin-bottom: 0;
}

.data-product-page .table-of-contents > p,
.data-product-page .table-of-contents > div,
.data-product-page .table-of-contents ol,
.data-product-page .table-of-contents li {
    display: inline;
}

.data-product-page .table-of-contents ol {
    padding-left: 0;
}

.data-product-page .table-of-contents > p,
.data-product-page .table-of-contents li {
    margin-right: 1rem;
}

.data-product-page .table-of-contents a {
    font-size: 0.85rem;
    background-color: #f3f4f6;
    border: 1px solid #f3f4f6;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
}

.data-product-page .table-of-contents a:hover {
    border: 1px solid #001c34;
    color: #001c34 !important;
}

.data-product-page .table-of-contents a,
.data-product-page .table-of-contents a:visited {
    color: var(--pst-color-primary);
}

.data-product-page .table-of-contents .sd-badge {
    font-size: 0.8rem !important;
    padding: 0 !important;
}

.data-product-page #additional-files-table {
    margin-bottom: 2.75rem;
}

/* .data-product-page ol#processing-steps-list { */
/* } */
/*  */
/* .data-product-page ol#processing-steps-list li { */
/*     padding-left: 0.5rem; */
/* } */
/*  */
/* .data-product-page ol#processing-steps-list li:hover { */
/*     background-color: var(--sd-color-card-hover); */
/* } */
