body {
    font-family: "Arial";
    color: black;
}

p {
    font-family: "Arial";
}
h1,h2,h3,h4,h5 {
    font-family: "Arial";
    color: #00A1DE;
}

.wy-nav-side {
	  background-color: #000000;
}

.wy-menu {
    color: #00A1DE;
}

div.wy-side-nav-search {
    margin-bottom: 10px;
    background: linear-gradient(to left, rgb(122, 184, 0) 33%, transparent 33%, transparent 34%, rgb(143, 202, 231) 34%) bottom left no-repeat, white;
	  background-size: 100% 5px, 100% 100%;
}


div.document a:visited {
/* Same colour as unvisited */
    color: #2980B9;
}

.wy-nav-content {
    background-color: white;
}

/*Fixes for xarray display issues*/
.rst-content dl.xr-attrs dt, .rst-content dl.xr-attrs dd {
     margin: 0px 0 !important;
     font-size: inherit !important;
     background: inherit !important;
     color: inherit !important;
     border-top: none !important;
     padding: 0px 10px 0px 0px !important;
     float: left !important;
     white-space: nowrap !important;
     overflow: hidden !important;
     text-overflow: ellipsis !important;
}
 .rst-content dl.xr-attrs dt {
     font-weight: normal !important;
     grid-column: 1 !important;
}
 .rst-content dl.xr-attrs dd {
     grid-column: 2 !important;
}
