sphinx<=7.2.6
nbsphinx<=0.9.3
ipython<=8.18.1
myst-parser<=2.0.0
ipywidgets<=8.1.1
matplotlib<=3.8.2
pydata-sphinx-theme<=0.14.4
sphinx-design<=0.5.0
sphinxext-rediraffe<=0.2.7
sphinxcontrib.datatemplates<=0.10.2
sphinx-external-toc<=1.0.1
sphinx-sitemap<=2.5.1
sphinxext-opengraph<=0.9.1
sphinx-notfound-page<=1.0.0
sphinx-copybutton<=0.5.2

