h1, h2, h3, h4, h5, h6 {
    color: var(--pst-color-primary);
}

h3, h4, h5, h6 {
    color: var(--pst-color-secondary);
}

h4, h5, h6 {
    font-weight: bold;
}

.bd-sidebar .bd-links__title {
    display: none;
}

footer.bd-footer .footer-items__start,
footer.bd-footer .footer-items__end {
    width: 50%;
    justify-content: start;
}

footer.bd-footer .footer-items__end {
    text-align: left;
}

footer.bd-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.rubric {
    font-size: var(--pst-font-size-h2) !important;
    font-weight: normal !important;
    border-bottom: none !important;
}

.bd-content .sd-tab-set > label:hover {
    border-top: none;
}

nav.bd-links .active > a {
    box-shadow: none;
    font-weight: normal;
}

nav.bd-links a.current.reference {
    font-weight: bold;
}
