footer.bd-footer {
    text-align: center;
}

.bd-sidebar .bd-links__title {
    display: none;
}

#ga-footer-links {
    padding-left: 0;
}

#ga-footer-links li {
    display: inline;
    padding-right: 1em;
}
