/* Home */

#home h1 {
    display: none;
}

#home .logo {
    max-width: 550px;
    max-height: 225px;
    display: block;
    margin: 0 auto;
}

#home .rubric {
    border-bottom: none;
}

#home .rubric.rubric-1 {
    color: var(--pst-color-primary);
    font-size: var(--pst-font-size-h4);
    font-color: var(--pst-color-text-base);
}

#home .rubric.rubric-2 {
    color: var(--pst-color-primary);
    font-size: var(--pst-font-size-h6);
    font-color: var(--pst-color-text-base);
}

.data-product .header {
    position: relative;
}

.data-product .subtitle p {
    font-size: var(--pst-font-size-h3);
}

.data-product .hero-image img {
    text-align: right;
}

.data-product .hero-image img {
    height: 200px;
}
