/* Home */

#home h1 {
    display: none;
}

#home .logo {
    max-width: 550px;
    max-height: 225px;
    display: block;
    margin: 0 auto;
}

#home .rubric {
    border-bottom: none;
}

#home .rubric.rubric-1 {
    color: var(--pst-color-primary);
    font-size: var(--pst-font-size-h4);
    font-color: var(--pst-color-text-base);
}

#home .rubric.rubric-2 {
    color: var(--pst-color-primary);
    font-size: var(--pst-font-size-h6);
    font-color: var(--pst-color-text-base);
}

#home .sd-card-header {
    background-color: var(--sd-color-primary-bg);
}

.data-product .subtitle p {
    font-size: var(--pst-font-size-h3);
}

.data-product .header {
    position: relative;
    overflow: hidden;
    top: calc(var(--pst-font-size-h1) * 2 * -1);
    padding-top: calc(var(--pst-font-size-h1) * 2);
    margin-bottom: calc(var(--pst-font-size-h1) * 2 * -1);
}

.data-prodct h1,
.data-product .subtitle,
.data-product .quick-info {
    max-width: 65%;
}

.data-product .hero-image {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 1rem);
    width: 35%;
    background-image: url("https://www.dea.ga.gov.au/_nuxt/image/3d7bbc.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.data-product .quick-info {
}
